<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senai Games</title>
</head>
<body>
    <h1>Senai Games</h1>
    <h2>Inteligencia artificial</h2>
    <h3>analise de sentimentos</h3>
    <h4>ambiente sem toxicidade</h4>
    <h5>Jogos, Educação e Bussiness</h5>
    <h6>Tudo em um só lugar</h6>

    <p>Com mais um click voce entrará no nosso ambiente gratuito de jogos e criação de jogos</p>

    <form>
        <input type="text" name="nome" placeholder="Qual o seu nome?">
        <input type="text" name="apelido" placeholder="Qual o seu nickname?">
        <select>
            <option selected>Qual o seu genero preferido?</option>
            <option>Visual novel</option>
            <option>RPG</option>
            <option>Plataforma</option>
        </select>
        <input type="email" required name="email" placeholder="qual o seu email?">
        <input type="password" required name="senha" placeholder="informe sua senha">
        <button>cadastrar/button>
    </form>

</body>
</html>